In [1]:
my_list = ['one','two','three']

In [2]:
print(my_list)

['one', 'two', 'three']

In [3]:
my_list = ['string','100','200.2']

In [4]:
print(my_list)

['string', '100', '200.2']

In [5]:
my_list = [1,2,3]

In [6]:
print(my_list)

[1, 2, 3]

In [7]:
len(my_list)

3

In [8]:
mylist = ['one','two','three']

In [10]:
mylist[0]

'one'

In [11]:
mylist[::]

['one', 'two', 'three']

In [12]:
mylist[:1]

['one']

In [13]:
mylist[1:]

['two', 'three']

In [14]:
mylist[1::]

['two', 'three']

In [16]:
another_list = ['four','five']

In [18]:
new_list = my_list + another_list

In [19]:
new_list

[1, 2, 3, 'four', 'five']

In [20]:
new_list[0] = "no option"

In [21]:
new_list

['no option', 2, 3, 'four', 'five']

In [22]:
new_list.append('six')

In [23]:
new_list

['no option', 2, 3, 'four', 'five', 'six']

In [25]:
new_list.append('seven')

In [26]:
new_list

['no option', 2, 3, 'four', 'five', 'six', 'seven']

In [4]:
my_list = [1,2,3,'four','five','six']

In [5]:
my_list

[1, 2, 3, 'four', 'five', 'six']

In [8]:
my_list.append('seven')

In [9]:
my_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [10]:
my_list.append('nine')

In [11]:
my_list

[1, 2, 3, 'four', 'five', 'six', 'seven', 'nine']

In [12]:
my_list.pop()

'nine'

In [14]:
my_list

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [15]:
my_list.pop(2)

3

In [16]:
my_list

[1, 2, 'four', 'five', 'six', 'seven']

poped_item

In [18]:
my_list

[1, 2, 'four', 'five', 'six']

In [19]:
poped_item = my_list.pop()

In [20]:
poped_item

'six'

In [21]:
my_list

[1, 2, 'four', 'five']

In [22]:
new_list = ['b','f','c','g','a']
num_list = [5,3,11,9,4]

In [24]:
new_list.sort()

In [25]:
new_list

['a', 'b', 'c', 'f', 'g']

In [26]:
num_list.sort()

In [27]:
num_list

[3, 4, 5, 9, 11]

In [28]:
new_list.reverse()

In [29]:
new_list

['g', 'f', 'c', 'b', 'a']

In [30]:
num_list.reverse()

In [31]:
num_list

[11, 9, 5, 4, 3]